<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Alexandre Murphy-Gonthier</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/components/form.css">
    <link rel="application/font-sfnt" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/themes/basic/assets/fonts/icons.ttf">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/components/form.js"></script>
</head>
<body>

    <div id="portfolio"></div>

    <script type="text/jsx" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
