<!doctype html>
<head lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title>Alexandre Murphy-Gonthier</title>
    <meta name="description" content="Portfolio of Alexandre Murphy-Gonthier">
    <meta name="viewport" content="width=device-width">

    <!-- Open Graph data -->
    <meta property="og:title" content="Portfolio of Alexandre Murphy-Gonthier" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://murphyalexandre.com/" />
    <meta property="og:image" content="http://murphyalexandre.com/static/img/thumb.jpg" />
    <meta property="og:description" content="New and improved portfolio using flask and reactjs." />
    <meta property="og:site_name" content="murphyalexandre.com" />
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/components/form.css">
    <link rel="application/font-sfnt" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/themes/basic/assets/fonts/icons.ttf">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/components/form.js"></script>
</head>
<body>

    <div id="portfolio"></div>

    <script type="text/jsx" src="{{ url_for('static', filename='build/js/main.js') }}"></script>
</body>
</html>
